@model List<League>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Leagues list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="League" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; Add new league</a>
        </div>
    </div>


<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
        <th>
            Team name
        </th>
        <th>
            Number of teams
        </th>
        <th>
            Season started
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (League obj in Model)
    {
        <tr>
            <td>
                @obj.Name
            </td>
            <td>
                @obj.TeamSet.Count
            </td>
            <td>
                @{var isStarted = obj.IsStarted ? "Yes" : "No"; }
                @isStarted
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="League" asp-action="Table" asp-route-id="@obj.Id" class="btn btn-primary mx-2">View</a>
                    @if (!obj.IsStarted)
                    {
                        <a asp-controller="League" asp-action="AddTeam" asp-route-id="@obj.Id" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; Add team</a>
                        <a asp-controller="League" asp-action="Start" asp-route-id="@obj.Id" class="btn btn-primary">Start</a>
                        <a asp-controller="League" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>
                        <a asp-controller="League" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-trash"></i>&nbsp; Remove</a>
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

</div>