@model List<League>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Leagues list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="League" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; Add new league</a>
        </div>
    </div>

@if (Model.Count > 0)
{
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>
                Team name
            </th>
            <th>
                Number of teams
            </th>
            <th>
                Season started
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (League obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.TeamList.Count
                </td>
                <td>
                    @{var isStarted = obj.IsStarted ? "Yes" : "No"; }
                    @isStarted
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="League" asp-action="Table" asp-route-id="@obj.Id" class="btn btn-primary mx-2">View</a>
                        @if (!obj.IsStarted)
                        {
                            <a asp-controller="League" asp-action="AddTeam" asp-route-id="@obj.Id" class="btn btn-primary">Add team</a>
                            if (obj.TeamList.Count > 1)
                            {
                                <a asp-controller="League" asp-action="Start" asp-route-id="@obj.Id" class="btn btn-primary">Start</a>
                            }
                            <a asp-controller="League" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                            <a asp-controller="League" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Remove</a>
                        }
                        @if (obj.IsStarted && !obj.IsFinished && obj.Schedule.All(x => x.IsPlayed))
                        {
                            <a asp-controller="League" asp-action="Finish" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Finish</a>
                        }
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@if (Model.Count == 0)
{
    <div style="width: 100%; height: 70vh; display: flex; justify-content: center; align-items: center;">
        <h3>No leagues found, consider creating one!</h3>
    </div>
}

</div>