@using FootballLeagueManagementSystem.Controllers
@model List<FootballLeagueManagementSystem.Controllers.TeamWithMatches>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
        <th>
            Team name
        </th>
        <th>
            Games played
        </th>
        <th>
            Wins
        </th>
        <th>
            Draws
        </th>
        <th>
            Loses
        </th>
        <th>
            Goals scored
        </th>
        <th>
            Goals conceded
        </th>
        <th>
            Goal Difference
        </th>
        <th>
            Points
        </th>
        <th>
            Schedule
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (TeamWithMatches obj in Model)
    {
        
        List<Match> homeMatches = obj.Matches.Where(m => m.HomeTeam == obj.Team).ToList();
        List<Match> awayMatches = obj.Matches.Where(m => m.AwayTeam == obj.Team).ToList();
        foreach (var homeMatch in homeMatches)
        {
            obj.countOfGoalsScored += homeMatch.HomeTeamGoals;
            obj.countOfGoalsConceded += homeMatch.AwayTeamGoals;
            if (homeMatch.HomeTeamGoals > homeMatch.AwayTeamGoals)
            {
                obj.countOfWins += 1;
                obj.countOfPoints += 3;
                continue;
            }
            if (homeMatch.HomeTeamGoals < homeMatch.AwayTeamGoals)
            {
                obj.countOfLoses += 1;
                continue;
            }
            obj.countOfDraws += 1;
            obj.countOfPoints += 1;
        }
        foreach (var homeMatch in awayMatches)
        {
            obj.countOfGoalsScored += homeMatch.AwayTeamGoals;
            obj.countOfGoalsConceded += homeMatch.HomeTeamGoals;
            if (homeMatch.HomeTeamGoals < homeMatch.AwayTeamGoals)
            {
                obj.countOfWins += 1;
                obj.countOfPoints += 3;
                continue;
            }
            if (homeMatch.HomeTeamGoals > homeMatch.AwayTeamGoals)
            {
                obj.countOfLoses += 1;
                continue;
            }
            obj.countOfDraws += 1;
            obj.countOfPoints += 1;
        }
        obj.goalDifference = obj.countOfGoalsScored - obj.countOfGoalsConceded;
    }
    @foreach (TeamWithMatches obj in Model.OrderByDescending(x => x.countOfPoints)
        .ThenByDescending(x => x.goalDifference)
        .ThenByDescending(x => x.countOfGoalsScored)
        .ThenBy(x => x.Team.Name))
    {
        <tr>
            <td>
                @obj.Team.Name
            </td>
            <td>
                @obj.Matches.Count
            </td>
            <td>
                @obj.countOfWins
            </td>
            <td>
                @obj.countOfDraws
            </td>
            <td>
                @obj.countOfLoses
            </td>
            <td>
                @obj.countOfGoalsScored
            </td>
            <td>
                @obj.countOfGoalsConceded
            </td>
            <td>
                @obj.goalDifference
            </td>
            <td>
                @obj.countOfPoints
            </td>
            <td>
                <a asp-controller="League" asp-action="Schedule" asp-route-id="@obj.Team.Id" class="btn btn-primary mx-2">View</a>
            </td>
        </tr>
    }
    </tbody>
</table>